* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
}
.container {
  text-align: center;
  h1 {
    padding-bottom: 1rem;
  }
  span {
    font-size: 2rem;
  }
}
.row {
  padding: 1rem 0;
  button {
    margin-top: 10rem;
    padding: 2.5rem 5rem;
  }
}
.js-playerPickElement {
  margin-top: 10rem;
  button {
    font-size: 2rem;
    margin: .5rem;
  }
}
.scoreContainer {
  margin-bottom: 3rem ;
  div {
    height: 33px;
  }
  span {
    font-size: 3rem;
  }
}
.js-resultsTableElement {
  padding: 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  .playerName {
    font-weight: bold;
  }
}
